{% extends "layout.html" %}

{% block main %}

<h1>Sobre Mim</h1>

<div class="sobre-mim">

    <img
        src="{{ url_for('static', filename='Gabriel.jpg') }}"
        alt="Foto de Gabriel"
    >

    <div>

        <p>
            Meu nome é {{ aluno["nome"] }}.
        </p>

        <p>
            Sou estudante da turma 2° TEC.
        </p>

        <p>
            Tenho interesse em programação e desenvolvimento web.
        </p>

        <p>
            Gosto de aprender novas tecnologias e estou sempre buscando
            melhorar minhas habilidades.
        </p>

    </div>

</div>

{% endblock %}